 html, body, div, span, object, iframe,  h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;

 background:white;
}

h1 {
   font-family: 'Hind', sans-serif;
  font-size: 8vh;
  width: 100vw;
  height: 12vh;
  left: 0vw;
  color: #333333;
 text-align: center;
 position: relative;
}

h2 {
  font-family: 'Hind', sans-serif;
  font-size: 17px;

}

h3 {
  font-family: 'Hind', sans-serif;
  color: #03081c;

  font-size: 27px;

}

p {
  font-family: 'Hind', sans-serif;
  color: #03081c;

  font-size: 17px;
  width: 80vw;
  

}
body {
  -webkit-text-size-adjust: none;
  font-family: sans-serif;
  min-height: 80vh;
}


small {
  margin: 0 10px 30px;
  display: block;
  font-size: 12px;
}



html, body {
  /*background: #a6fce5;*/
   background:white;
}

#console {
  font-size: 12px;
  font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: black;
  line-height: 18px;
  margin-top: 20px;
  max-height: 150px;
  overflow: auto;

}

#mySwipe div b {
  display: block;
  font-weight: bold;
  color: red;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  padding: 100px 10px;
  box-shadow: 0 1px #EBEBEB;
  background: #fff;
  border-radius: 3px;
  border: 1px solid;
  border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
   border-radius: 5px;
   background-color: white;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;

}

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;


}


#leftbutton {
  position: absolute;
  left: 0w;
  top: 50vh;
}


#rightbutton {
  position: absolute;
  left: 92vw;
  top: 50vh;
}
#logo{
  position: absolute;
   left: 7vw;
}

